body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#whole {
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
#box {
	width: 200px;
	height: 200px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	border: 1px blue solid;
}
#btn, #result{
	height: 30px;
	width: 90%;
}
#result {
	border: 1px black solid;
	display: flex;
	align-items: center;
	justify-content: center;
}
